//
//  VYStateView-Config.xcconfig
//  VYStateView
//
//  Created by Vitaly Yurchenko on 20.09.13.
//  Copyright (c) 2013 Vitaly Yurchenko. All rights reserved.
//
// ********************************************************************************************************************************************************** //

// Packaging.
INFOPLIST_FILE = VYStateView/VYStateView-Info.plist
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = app

// Compiler - Language.
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = VYStateView/VYStateView-Prefix.pch

// Asset Catalog Compiler - Options.
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage
