//
//  VYStateViewTests-Config.xcconfig
//  VYStateView
//
//  Created by Vitaly Yurchenko on 20.09.13.
//  Copyright (c) 2013 Vitaly Yurchenko. All rights reserved.
//
// ********************************************************************************************************************************************************** //

// Linking.
BUNDLE_LOADER = $(BUNDLE_LOADER_$(CONFIGURATION))
BUNDLE_LOADER_Debug = $(BUILT_PRODUCTS_DIR)/VYStateView.app/VYStateView
BUNDLE_LOADER_Release = $(BUILT_PRODUCTS_DIR)/VYStateView.app/VYStateView

// Packaging.
INFOPLIST_FILE = VYStateViewTests/VYStateViewTests-Info.plist
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = xctest

// Search Paths.
FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/Developer/Library/Frameworks

// Unit Testing.
TEST_HOST = $(BUNDLE_LOADER)

// Compiler - Language.
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = VYStateView/VYStateView-Prefix.pch
